* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}
.container {
  width: 80%;
  margin: auto;

}
/* stile intestazione e nav */
header {
  width: 100%;
  margin: 25px 0;
}

header .logo {
  width: 18%;
  border-right: 1px solid lightgrey;
  padding-right: 2%;
  margin-bottom: 2%;
}

header img {
  max-width: 100%;
}
header li {
  display: inline-block;
  padding: 0 1%;
  padding: 2% 1%;
  color: #858585;
}
/* /stile intestazione e nav */

/* Sezioni */
.banner {
  width: 100%;
  height: 550px;
  background-color: #E3D67A;
}

.clearfix {
  height: 500px;
  width: 100%;
  background-color: #0186FF;
  margin-top: 25px;
  margin-bottom: 10px;
}

.clearfix ::after {
  clear: both;
  display: block;
  content: '';
}
.titles {
  width: 100%;
  height: 80px;
  background-color: #ABCFE7;
  margin-bottom: 20px;
}
.col {
  background-color: #ABCFE7;
}

.col-1 {
  width: 20%;
  height: 380px;
  float: left;
}
.col-2 {
  width: 57%;
  height: 380px;
  float: left;
  margin: 0 16px;
}

.col-3 {
  width: 20%;
  height: 380px;
  float: left ;
}

/* /Sezioni */

/* footer */

footer {
  width: 100%;
  height: 100px;
  margin: 10px 0;
  background-color: #8801fe;
}

/* /footer */
